BeautifulSoup==3.2.1
Django==1.4.1
South==0.7.6
dj-database-url==0.2.1
django-mptt==0.5.4
django-tagging==0.3.1
django-xmlrpc==0.1.4
gunicorn==0.14.6
psycopg2==2.4.5
pyparsing==1.5.6
pytz==2012d
wsgiref==0.1.2
