<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Luke Carlson Portfolio Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Luke Carlson's Portfolio">
    <meta name="author" content="Luke Carlson">

    <!-- Le styles -->
    <link href="/static/css/luke-bootstrap.css" rel="stylesheet">
    <!-- <style>
	 body {
         padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	 }
	 </style> 
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    -->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  </head>

  <body>
    <!-- NAVBAR-->
    <div class="container">
      <div class="navbar">
	<div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">jLukeCarlson</a>
	    <div class="nav-collapse">
          <ul class="nav">
      		<li class="active"><a href="/"><!--<i class="icon-home icon-white"></i>-->Home</a></li>
      		<!--  <li class="divider-vertical"></li> -->
      		<li><a href="/projects"><!--<i class="icon-folder-open icon-white"></i>-->Projects</a></li>
          <li><a href="/weblog"><!--<i class="icon-folder-open icon-white"></i>-->Blog</a></li>
      		<!--<li><a href="/resume"><i class="icon-file icon-white"></i>Resume</a></li>
      		<li><a href="/about"><!--<i class="icon-question-sign icon-white"></i>About</a></li>-->
          </ul>
      </div>
          </div>
	</div>
      </div>
      <!-- Adding in procesing code
	   <canvas data-processing-sources="3D_Space.pde" style="border: 10px solid white;"></canvas>
	   <canvas id="pjs"> </canvas> -->
      
      <!-- <div class = "nav-div">
           <ul class="new-nav">
             <li class="active"><a href="#">Home</a></li>
             <!--  <li class="divider-vertical"></li> ->
		   <li><a href="projects.html">Projects</a></li>
             <li><a href="resume.html">Resume</a></li>
             <li><a href="about.html">About</a></li>
             <li><a href="contact.html">Contact</a></li>
           </ul>
      </div> -->
	     <br/>
	     <div class="hero-unit">
	       <h1>Hi, I'm Luke Carlson</h1>
	       <div style="padding-left:5px;">
	       <em><p>I'm a 17 year old student from NYC who just interned at <a href="http://www.appboy.com">Appboy</a>. </p> </em>
	       <p>I enjoy creating web applications and finding solutions through programming. I'm proficient in front end web development languages such as <strong> HTML/CSS, Javascript, </strong> and <strong>jQuery</strong>. I'm strongest in <strong> Python + Django </strong> and I also have experience in <strong>Java and Ruby + Ruby on Rails</strong>. This site was made using Twitter Boostraps and Django </p>
		<p>If you are interested in talking <a href="contact.html"> hit me up</a>.</p>
	       <p style="text-align:right;">
		 <a class="btn btn-warning btn-large" href="projects">
		   view projects
		 </a>
	       </p>
	       </div>
	     </div> <!-- Hero Unit -->
	     <div class="low-pad-unit">
	       <h2> Recent News </h2>
	       <ul>
		 <li>
	       <p> I'm loving my internship! I just wrote a blog post for Appboy entitled <em>'5 Easily Avoidable Mistakes Big Companies Make with their Apps'</em></p>
		 </li>
		 <li><p>I added a pretty quality  Markdown'd README to my CrunchBase Company Finder <a href="https://github.com/jLukeC/CrunchBase-Company-Finder">GitHub project</a></p></li>
	       </ul>
	       </div>
	     </div> <!-- /container -->
  </body>
</html>
