<div id= "parashoot" class="hero-unit-project">
	    <h2 class = "centered">Parashoot (ActionScript 2.0)</h2>
	    <em><p>This was an early project of mine from 2009 when I was a freshman in highschool. This was  before I entered the world of web design or Python. </p></em>
	    <p>Back when I used ActionScript 2.0 (gasp!) I made a vertical shooter. The premise is a man parachuting who has to avoid objects to last as long as possible. He has packages to drop down to hit and eliminate the obstacles as well as powerups and upgrades in the game. I made all the art (don't judge me, I wasn't an artist then, and I'm not exactly Picasso now). I made this game as a submission for Stride Gum's Longest Lasting Game Competition</p>
	    <br/>
	    <h3 class="centered"><em>More Info</em></h3>
	    <br/>
	    <p> I enjoyed making an animated instructions page. I had trouble making sure the menus worked in all situations. Muting/playing music at the right moment was an issue. I attempted to make a unique design and chose an abnormal color scheme. Overall I enjoyed making this game and it was a fun learning experience
	    </p>
	    <p><strong>	Programming Language:</strong> Actionscript 2.0</p>
	    <!-- The following is a span3 of the first image -->
	    <div class = "row">
	      <div class="centered">
		<div class = "span3">
		  <ul class="thumbnails">
		    <li>
		      <p class="thumbnail">
			<img src="/static/img/parashoot_example.png" alt="">
		      </p>
		    </li>
		  </ul>
		</div>
		<!-- The following is a span3 of the second image -->
		<div class = "span3">
		  <ul class="thumbnails">
		    <li>
		      <p class = "thumbnail">
			<img src="/static/img/parashoot_example2.png" alt="">
		      </p>
		    </li>
		  </ul>
		  <!-- old loaction of button -->
		</div>
	      </div>
	      <div class = "span3">
		<a class="btn btn-primary" target="_blank" href="http://www.kongregate.com/games/teknoZombi/parashoot">View Live on Kongregate</a>
	      </div>
	      <div class = "span3">
		<a class="btn btn-inverse" href="http://www.newgrounds.com/portal/view/523176" target="_blank">View Live on NewGrounds!</a>
	      </div>
	    </div>
	  </div>
	  <br/> <!--END OF TEKNOZOMBI DIV -->
