
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Luke Carlson Portfolio Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Luke Carlson's projects">
    <meta name="author" content="Luke Carlson">

    <!--  styles -->
    <link href="/static/css/cyborg-bootstrap.css" rel="stylesheet">
    <!-- <link href="/static/css/luke-bootstrap.css" rel="stylesheet"> -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/project-manipulator.js"></script>
  </head>

  <body>
    <!-- NAVBAR -->
    <div class="container">
      <div class="navbar"> <!-- navbar-fixed-top -->
	<div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="../">jLukeCarlson</a>
            <div class="nav-collapse">
              <ul class="nav">
		<li><a href="/">Home</a></li>
		<!--  <li class="divider-vertical"></li> -->
		<li class="active"><a href="/projects">Projects</a></li>
		<li><a href="/weblog">Blog</a></li>
		<!--<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>-->
              </ul>
            </div><!--/.nav-collapse -->
          </div>
	</div>
      </div>

      <br/>
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
	    <ul class="nav nav-list">
	      <li><a id="show-all" href="">All Projects</a></li>
              <li class="nav-header">HTML CSS Javascript</li>
              <li><a id="todo-click" href="#!todo-list">Todo List</a></li>
              <li class="nav-header">Python</li>
              <li><a id="defbot-click" href="#!twitterdefbot">Twitter Definition Bot</a></li>
              <li><a id="crunch-click" href="#!crunchbase-scraper">CrunchBase Scraper</a></li>
              <li class="nav-header">Java or Processing</li>
              <li class="nav-header">ActionScript 2.0</li>
              <li><a id="parashoot-click" href="#!parashoot">Parashoot</a></li>
            </ul>
	    <!-- Django Projects Navbar -->
<!--            <ul class="nav nav-list">
              <li class="nav-header"> HTML CSS Javascript</li>

	      {% for project in projects_list %}
	      {% if project.category = "Web" %}
	      <li><a href="/projects/{{ project.slug }}/">{{ project.title }}</a></li>
	      {% endif %}
	      {% endfor %}
	      <li class="nav-header">Python</li>
	      {% for project in projects_list %}
	      {% if project.category = "Python" %}
	      <li><a href="/projects/{{ project.slug }}/">{{ project.title }}</a></li>
	      {% endif %}
	      {% endfor %}
	      <li class="nav-header">Miscellaneous</li> <!-- for now anything not Python or Web is "Misc"
	      {% for project in projects_list %}
	      {% if project.category !=  "Python" and project.category != "Web" %}
	      <li><a href="/projects/{{ project.slug }}/">{{ project.title }}</a> ( {{project.category}} )</li>
	      {% endif %}
	      {% endfor %}
               Unordered list of projects
                   {% for project in project_set.all %}
		   <li><a href="/projects/{{ project.slug }}/">{{ project.title }}</a></li>
                   {% endfor %}
                   {% if projects_list %}
		   {% for project in projects_list %}
	      <li><a href="/projects/{{ project.slug }}/">{{ project.title }}</a></li>
	      {% endfor %}
              {% else %}
              <p>No projects are available.</p>
              {% endif %}
            </ul> -->
          </div><!--/.well -->
        </div><!--/span-->

	<div class="span9">
	  <!-- Main welcome Hero-->
	  <div class="low-pad-unit">
	    <h1>Projects</h1>
	    <p>Links to each project are located in the sidebar, or you can <strong> scroll down </strong> and view them all at once</p>
	  </div>
	  <div id= "president-game" class="hero-unit-project">
	    <h2 class = "centered">Who's That President?</h2>
	    <p>In this game, users are shown a picture of a US president for three seconds and then have to choose the correct name from four options shown on screen. This project was designed for OnSwipe’s 48-hour hackathon where the requirements were to create something for the web that can be used on both mobile phones and desktop computers. This script is written in Javascript and jQuery. </p>
	    <p> The game is live at <a href="http://whosthatpresident.herokuapp.com/"> http://whosthatpresident.herokuapp.com </a></p>
	    <p>Full source for the game is located at https://github.com/jLukeC/president-game/blob/master/president_game/static/president-game.js</p>
	    <p><strong>	Programming Languages:</strong> JavaScript and jQuery</p>
	    <p><strong>	Framework:</strong> Django</p>
	    <ul class="thumbnails">
	      <li>
		<a href="http://whosthatpresident.herokuapp.com/" class="thumbnail">
		  <img src="/static/img/president-game-options.png" alt="">
		</a>
		<a href="https://github.com/jLukeC/president-game/blob/master/president_game/static/president-game.js" target="_blank" class="thumbnail">
		  <img src="/static/img/president-game-code.png" alt="">
		</a>
	      </li>
	    </ul>
	    <div class="centered"> <!-- buttons for GitHub and Live Game-->
	      <a class="btn" target="_blank" href="https://github.com/jLukeC/president-game/blob/master/president_game/static/president-game.js">View Source on GitHub</a>
	      <a class="btn btn-warning" target="_blank" href="http://whosthatpresident.herokuapp.com/">Play!</a>
	    </div>
	  </div>
	  <div id= "crunchbase-scraper" class="hero-unit-project">
	    <h2 class = "centered">Crunchbase Automated Company Finder</h2>
	    <p>This is a python script I made for <a href = "www.appboy.com"> Appboy</a> that pulls information from Crunch Base using their API  and scrapes it to find companies of a specific type (in this case its mobile app startups). From there it goes back into the API to find more information on the company, like their phone number, email address, and company type. The information is then converted into a CSV file located in the data folder. The file's name depends on the search terms and the time the code was executed</p>
	    <p><strong>	Programming Language:</strong> Python</p>
	    <p><strong>	APIs Used:</strong> CrunchBase API </p>
	    <ul class="thumbnails">
	      <li>
		<a href="" class="thumbnail">
		  <img src="/static/img/crunchcsv.png" alt="">
		</a>
		<a href="https://github.com/jLukeC/CrunchBase-Company-Finder" target="_blank" class="thumbnail">
		  <img src="/static/img/crunch-code.png" alt="">
		</a>
	      </li>
	    </ul>
	    <div class="centered"> <!-- buttons for GitHub -->
	      <a class="btn" target="_blank" href="https://github.com/jLukeC/CrunchBase-Company-Finder">View on GitHub</a>
	    </div>
	  </div>
	  <div id= "todo-list" class="hero-unit-project">
	    <h2 class = "centered">Todo List in KnockoutJS</h2>
	    <p> Before this, I had not done much work with 3rd party Javascript libraries and I had never used Ruby on Rails before. This was a fun project I did to learn KnockoutJS and Ruby on Rails.</p>
	    <br/>
	    <p><strong>	Programming Languages: </strong>JavaScript (KnockoutJS) and Ruby on Rails</p>
	    <div class="centered">
	      <ul class="thumbnails">
	      	<li>
		  <a href="https://todolistlfr.herokuapp.com/luke" target="_blank" class="thumbnail">
		    <img src="/static/img/todolistscreenshot.png" alt="picture of the todo list">
		  </a>
		  <a href="#" target="_blank" class="thumbnail">
		    <img src="/static/img/todoknockout_example.png" alt="example KnockoutJs code">
		  </a>
	      	</li>
	      </ul>
	      <!-- Buttons for GitHub, Heroku and KnockoutJs -->
	      <a class="btn" href="https://github.com/jLukeC/todo_list" target="_blank">Code on GitHub</a>
	      <a class="btn btn-warning" href="http://www.knockoutjs.com" target="_blank">Check out KnockoutJS!</a>
	      <a class="btn btn-calm" href="http://wwww.todolistlfr.herokuapp.com/luke" target="_blank">Project on Heroku</a>
	    </div>
	  </div>
	  <!-- Twitter Bot  Hero-->
	  <div id= "twitterdefbot" class="hero-unit-project">
	    <h2 class = "centered">Twitter Definition Bot</h2>
	    <p>The purpose of this project was to make a twitter account to which anyone could tweet at and it would respond with the definition of the tweeted word</p>
	    <br/>
	    <h3 class="centered"><em>How?</em></h3>
	    <br/>
	    <p> First we checked twitter's JSON feed of recent tweets <a href="https://twitter.com/#!/definitionbot">@DefinitionBot</a> (the feed can be seen <a href="http://search.twitter.com/search.json?q=@DefinitionBot"> here</a>) and parsed out new tweets. </p>
	    <p>From there we extracted the word and put it through Abbreviations.com's API to get a definition. We chose Abbr's API because it provided its definitions in a consise format, which is important considering that Tweets are maxed out at 140 characters.</p>
	    <p>After that we parsed the XML response to get the definition of the word. From there we concatenated the definition along with the word into a tweet that was directed back at the original user.</p>
	    <p>Isues and Bugs we faced included a problem where <a href="https://twitter.com/#!/definitionbot">@DefinitionBot</a> would tweet back two definitions at a user, issues that arose when the tweet was too long, and determining whether tweets from twitter's stream were new or just repeated</p>
	    <p><strong>	Programming Language:</strong> Python</p>
	    <p><strong>	APIs Used:</strong> Twitter API, Abbreviations.com API </p>
	    <p><strong>	A few Modules used:</strong> JSON, simpleJSON, BeautifulSoup, urllib2, tweepy </p>
	    <ul class="thumbnails">
	      <li>
		<a href="https://twitter.com/#!/definitionbot" target="_blank" class="thumbnail">
		  <img src="/static/img/definitionbot_tweets.png" alt="">
		</a>
		<a href="http://www.abbreviations.com/services/v1/defs.aspx?tokenid=tk1765&word=test" target="_blank" class="thumbnail">
		  <img src="/static/img/example_definition2.png" alt="">
		</a>
	      </li>
	    </ul>
	    <div class="centered"> <!-- button div-->
	      <a class="btn btn-success" target="_blank" href="https://twitter.com/#!/definitionbot">View Live Project on Twitter</a>
	      <a class="btn" target="_blank" href="https://github.com/jLukeC/definition-bot">View on GitHub</a>
	    </div>
	  </div><!--END OF TWITTER DEFINITION BOT DIV -->

	  <!-- TeknoZombi-Parashoot  Hero-->
	  <div id= "parashoot" class="hero-unit-project">
	    <h2 class = "centered">Parashoot (ActionScript 2.0)</h2>
	    <em><p>This was an early project of mine from 2009 when I was a freshman in highschool. This was  before I entered the world of web design or Python. </p></em>
	    <p>Back when I used ActionScript 2.0 (gasp!) I made a vertical shooter. The premise is a man parachuting who has to avoid objects to last as long as possible. He has packages to drop down to hit and eliminate the obstacles as well as powerups and upgrades in the game. I made all the art (don't judge me, I wasn't an artist then, and I'm not exactly Picasso now). I made this game as a submission for Stride Gum's Longest Lasting Game Competition</p>
	    <br/>
	    <h3 class="centered"><em>More Info</em></h3>
	    <br/>
	    <p> I enjoyed making an animated instructions page. I had trouble making sure the menus worked in all situations. Muting/playing music at the right moment was an issue. I attempted to make a unique design and chose an abnormal color scheme. Overall I enjoyed making this game and it was a fun learning experience
	    </p>
	    <p><strong>	Programming Language:</strong> Actionscript 2.0</p>
	    <!-- The following is a span3 of the first image -->
	    <div class = "row">
	      <div class="centered">
		<div class = "span3">
		  <ul class="thumbnails">
		    <li>
		      <p class="thumbnail">
			<img src="/static/img/parashoot_example.png" alt="">
		      </p>
		    </li>
		  </ul>
		</div>
		<!-- The following is a span3 of the second image -->
		<div class = "span3">
		  <ul class="thumbnails">
		    <li>
		      <p class = "thumbnail">
			<img src="/static/img/parashoot_example2.png" alt="">
		      </p>
		    </li>
		  </ul>
		  <!-- old loaction of button -->
		</div>
	      </div>
	      <div class = "span3">
		<a class="btn btn-primary" target="_blank" href="http://www.kongregate.com/games/teknoZombi/parashoot">View Live on Kongregate</a>
	      </div>
	      <div class = "span3">
		<a class="btn btn-inverse" href="http://www.newgrounds.com/portal/view/523176" target="_blank">View Live on NewGrounds!</a>
	      </div>
	    </div>
	  </div>
	  <br/> <!--END OF TEKNOZOMBI DIV -->
	</div> <!-- span 9 -->

      </div> <!-- /container -->
  </body>
</html>
