<div id= "todolist" class="hero-unit-project">
  <h2 class = "centered">Todo List in KnockoutJS</h2>
  <p> Before this, I had not done much work with 3rd party Javascript libraries and I had never used Ruby on Rails before. This was a fun project I did to learn KnockoutJS and Ruby on Rails.</p>
  <br/>
  <p><strong>	Programming Languages: </strong>JavaScript (KnockoutJS) and Ruby on Rails</p>
  <div class="centered">
    <ul class="thumbnails">
      <li>
	<a href="https://todolistlfr.herokuapp.com/luke" target="_blank" class="thumbnail">
	  <img src="/static/img/todolistscreenshot.png" alt="picture of the todo list">
	</a>
	<a href="#" target="_blank" class="thumbnail">
	  <img class="thumb_center" src="/static/img/todoknockout_example.png" alt="example KnockoutJs code">
	</a>
      </li>
    </ul>
    <!-- Buttons for GitHub, Heroku and KnockoutJs -->
    <a class="btn" href="https://github.com/jLukeC/todo_list" target="_blank">Code on GitHub</a>
    <a class="btn btn-warning" href="http://www.knockoutjs.com" target="_blank">Check out KnockoutJS!</a>
    <a class="btn btn-calm" href="http://wwww.todolistlfr.herokuapp.com/luke" target="_blank">Project on Heroku</a>
  </div>
</div>
